<div class="container">
    <mat-card-header>
        <mat-card-title>
            Autenticacion
        </mat-card-title>
    </mat-card-header>

    <mat-divider>    
    </mat-divider>

    <mat-card-content>
        <div style="display: flex; gap: 1rem; align-items: center;">
            <div>
                <label for="username">Username o Email</label><br>
                <input id="username" type="text">
            </div>
            <div>
                <label for="password">Contraseña</label><br>
                <input id="password" type="password">
            </div>
        </div>
    </mat-card-content>

</div>
